Lab 1/matlab scripts/testing.m
Lab 1(B) - CAD/RM CAD 1.1 - Intro.mkv
Lab 1(B) - CAD/RM CAD 1.2 - measurement.mkv
Lab 1(B) - CAD/RM CAD 1.3 - Extrude and Cut.mkv
Lab 1(B) - CAD/RM CAD 1.4 - Servo Mounting Holes.mkv
Lab 1(B) - CAD/RM CAD 1.5 - Pointy Part and Fillets.mkv
Lab 2 - FWD Kinematics/matlab scripts/testing.m
Lab 1(B) - CAD/console.log
